body {
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
}
.container1 {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: transparent radial-gradient(closest-side at 51% 100%, #800000 0%, #130000 100%) 0% 0% no-repeat padding-box;
    display: flex;
}

input {
    padding: 0.5em 3em;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.2em solid #2699FB;
    border-radius: 2.5em;
    margin: 0.5em;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 44vh;
    width: 22vw;
}

.register_container {
    display: flex;
    height: 60%;
    align-items: center;
    justify-content: center;
}

.page_location {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center
}

.page_location p {
    margin: 0;
}
p {
    margin: 0;
    color: #FFFFFF;
}



