body {
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
}

input {
    padding: 0.5em 3em;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.2em solid #2699FB;
    border-radius: 2.5em;
    margin: 0.5em;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 44vh;
    width: 22vw;
}

.register_container {
    position: absolute;
    left: 50%;
    

}