body {
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
}
.container1 {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle, rgba(128,0,0,1) 20%, rgba(19,0,0,1) 60%);
    display: flex;
    flex-direction: column;
}
.play {
    background: #FFFFFF;
}

.play h1 {
    text-align: center;
}

.play img {
    height: 80%;
    width: 100%;
    object-fit: cover;
}

.rotate {
    transform: rotateX(180deg) translateY(-20%);
    filter: blur(6px);

}

.active .rotate {
    background: yellow;
}

.glide__slide--active {
    background: #2699FB;
}

input {
    padding: 0.5em 3em;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.2em solid #2699FB;
    border-radius: 2.5em;
    margin: 0.5em;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 44vh;
    width: 22vw;
}

.register_container {
    display: flex;
    height: 60%;
    align-items: center;
    justify-content: center;
}

.page_location {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center
}

.page_location p {
    margin: 0;
}
p {
    margin: 0;
    color: #000000;
}



