
body{
    margin: 0;
}
.container{
    width: 100vw;
    height: 100vh;
    background: transparent radial-gradient(closest-side at 51% 100%, #800000 0%, #130000 100%) 0% 0% no-repeat padding-box;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*align-items: center;*/
}
.curtain{
    z-index: 1;
    position: absolute;
}

.logo{
    z-index: 2; 
    position: absolute;
}

