
body {
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;

}

.col-4 {
    color: ivory;
}

.col-8 {
    justify-content: center;
}

.container {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: transparent radial-gradient(closest-side at 51% 100%, #800000 0%, #130000 100%) 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container1 {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: transparent radial-gradient(closest-side at 51% 100%, #800000 0%, #130000 100%) 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
}
.curtain {
    z-index: 1;
    position: absolute;
}

.logo {
    margin: 0;
    z-index: 2;
    height: 50em;
    padding: 8% 18%;
    position: absolute;
}

.login_container {
    z-index: 3;
    height: 10em;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 40vw;
}

input {
    padding: 0.5em 3em;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.2em solid #2699FB;
    border-radius: 2.5em;
    margin: 0.5em;
}

button {
    background: #F1F9FF 0% 0% no-repeat padding-box;
    border: 0.2em solid #BCE0FD;
    border-radius: 0.7em;
    padding: 40%;
    /* transition-duration: 1s;  */
}

button:hover {
    background: #500404 0% 0% no-repeat padding-box;
    color:  white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  .menu{
    width: 100%;
    border-bottom: 2px solid white;
  }


@media only screen and (max-device-width: 420px){
    .container {
        flex-direction: column;
        width: 130vw;
        height: 130vh;
    }

    * {
        font-size: 50px;
    }

    .login_container {
        height: 3em;
    }

    .logo {
        height: 28em;
    }

    .form { 
        margin: auto;
    }
}